*
{
    margin: 0;
    font-family: sans-serif;
}
.sektion1
{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./uae-4-2048x1367\ 2.png);
    width: 100%;
    height: 600px;  
}
.flex
{
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
    padding: 20px;
}
.ktomi
{
    display: flex;
    gap: 20px;
    color: white;
}
.voyti
{
    color: white;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 100px;
}
.ikon
{
    display: none;
}
.zapustite
{
   color: white;
   margin-left: 100px;
   margin-top: 100px;
}
.texnologiya
{
    color: white;
    background-color: rgba(127, 255, 212, 0.402);
    width: 450px;
}
.zayavka
{
    background-color: rgb(0, 187, 255);
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.sektion2
{
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
    gap: 100px;
}
.nawuslug
{
    margin-top: 100px;
    margin-left: 150px;
}
.text1
{
    font-size: 13px;
    color: rgb(67, 65, 65);
}
.sektion22
{
    display: flex;
    margin-left: 150px;
    gap: 100px;
    margin-top: 50px;
}
.text2
{
    font-size: 15px;
    margin-top: 50px;
}
.uznat1
{
    background-color: rgb(9, 150, 103);
    padding: 10px;
    width: 200px;
    color: white;
    text-align: center;
    border-radius: 10px;
    
}
.dlya
{
    color: #1178B2;
    margin-top: 100px;
    margin-left: 150px;
}
.sektion3
{
    display: flex;
    margin-left: 150px;
    gap: 20px;
    margin-top: 50px;
}
.IT
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 292px;
    height: 248px;
    box-shadow: 0px 0px 10px 0px;
}
.one
{
    color: #1178B2;
    font-size: 70px;
    text-align: center;
}
.sentre
{
    text-align: center;
    font-size: 13px;
    color: rgb(63, 61, 61);
}
.sektion4
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./Group\ 757.png);
    width: 100%;
    height: 300px;
    margin-top: 100px;
}
.nauchi
{
    color: white;
    background-color: #07AF97;
    text-align: center;
    width: 70%;
    padding: 2px;
    border-radius: 5px;
    margin: auto;
}
.button1
{
    background-color: #016CA8;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-left: 550px;
}
.sektion5
{
    color: #016CA8;
    margin-left: 150px;
    margin-top: 100px;
}
.allbutton
{
    padding: 10px;
    width: 213px;
}
.sektion6
{
    margin-left: 150px;
    margin-top: 100px;
}
.month3
{
    display: flex;
    margin-left: 150px;
    gap: 40px;
    margin-top: 50px;
}
.month
{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    
}
.sektion7
{
    margin-top: 100px;
}
.obb
{
    margin-top: -300px;
    text-align: center;
    color: white;
}
.ikon1
{
    margin-left: 570px;
}
.sektion8
{
    color: #016CA8;
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
}
.table1
{
    background-color: #ffffff;
    width: 80%;
    height: 285px;
    box-shadow: 0px 0px 10px 0px;
    margin-left: 150px;
    border-radius: 10px;

}
.flexone
{

}
.one
{
    font-size: 17px;
    margin-left: -500px;
}
.ikonone
{
    margin-left: 1455px;
    margin-top: -20px;
}
.modul
{
    background-color: white;
    width: 80%;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;
    margin-left: 150px;
    height: 70px;
}
.buton2
{
    background-color: #1178B2;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-left: 150px;
    width: 300px;
}
.sektion9
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.148), rgba(0, 0, 0, 0.226)), url(./Group\ 796.png);
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.sek9flex
{
   color: white;
   display: flex;
   margin-left: 150px;
   gap: 200px;
}
.sek9buton
{
    background-color: #07AF91;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 250px;
}







@media (max-width:510px) 
{
    .ktomi
    {
        display: none;
    }
    .img11
    {
        margin-top: 10px;
    }
    .voyti
    {
       margin-left: -40px;
    }
    .ikon
    {
        display: block;
        color: white;
        font-size: 25px;
        position: absolute;
        margin-left: 370px;
        margin-top: -10px;
    }
    .zapustite
    {
        margin-left: 50px;
    }
    .sektion2
    {
        display: block;
        margin-left: -10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    .nawuslug
    {
        margin-left: 70px;
    }
    .texnologiya
    {
        width: 210px;
        font-size: 20px;
    }
    .sektion22
    {
        display: block;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        text-align: center;
        margin-left: -10px;
    }
    .uznat1
    {
        margin: auto;
    }
    .dlya
    {
        margin-left: 80px;
    }
    .sektion3
    {
        display: block;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .sektion4
    {
        height: 400px;
    }
    .button1
    {
        margin-left: 100px;
        position: absolute;
    }
    .sektion5
    {
        margin-left: 50px;
        width: 400px;
    }
    .month3
    {
        display: block;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin-left: 50px;
    }
    .sektion6
    {
        margin-left: -20px;
        text-align: center;
        
    }
    .sektion7
    {
        width: 510px;
        margin-left: -150px;
    }
    .ikon1
    {
        margin-left: 300px;
        position: absolute;
    }
    .obb
    {
        margin-left: 200px;
    }
    .table1
    {
        margin-left: 0px;
        height: 400px;
        width: 380px;
        margin-top: 50px;

    }
    .sektion8
    {
        margin-top: 300px;
    }
    .ikonone
    {
        display: none;
    }
    .one
    {
        margin-left: 10px;
    }
    .modul
    {
        margin-left: 50px;
        height: 80px;
    }
    .kk
    {
        display: none;
    }
    .buton2
    {
        margin-left: 50px;
    }
    .sek9flex
    {
        display: block;
        margin-left: 20px;
    }
    .sektion9
    {
        height: 800px;
    }
    .imgsek9
    {
        width: 350px;
    }

}